<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyMaterial</span>

    <span class="example-spacer"></span>
    
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar> -->

<div class="cmpg hmpg">


    <form validate #rgForm="ngForm" class="logfld rgst">
      <!-- <mat-form-field>
      <input #chatid="ngModel" matInput placeholder="User id" [(ngModel)]='uid' name="uid" required>
    </mat-form-field> -->

      <ion-item>
        <ion-label floating>User id</ion-label>
        <ion-input type="text" #chatid="ngModel"  [(ngModel)]='uid' name="uid" required></ion-input>
      </ion-item>

    <div *ngIf="chatid.errors && (chatid.dirty || chatid.touched)" class="alert alert-danger">
      <p class="ermsg" [hidden]="!chatid.errors.required">
        Let's know your user id please
      </p>
      
    </div> 
    <!-- <mat-form-field>
      <input #funm="ngModel" matInput placeholder="Your Full name" [(ngModel)]='fullna' name="fullna" required>
    </mat-form-field> -->

    <ion-item>
        <ion-label floating>Your Full name</ion-label>
        <ion-input type="text" #funm="ngModel"  [(ngModel)]='fullna' name="fullna" required></ion-input>
      </ion-item>

    <div *ngIf="funm.errors && (funm.dirty || funm.touched)" class="alert alert-danger">
      <p class="ermsg" [hidden]="!funm.errors.required">
        Let's know your Full Name please
      </p>
      
    </div> 
  
    <!-- <mat-form-field>
      <input #emid="ngModel" matInput placeholder="Email id" [(ngModel)]='ueid' pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="ueid" required>
    </mat-form-field> -->
    <ion-item>
        <ion-label floating>Email id</ion-label>
        <ion-input type="email" #emid="ngModel" matInput placeholder="Email id" [(ngModel)]='ueid' pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="ueid" required></ion-input>
      </ion-item>
    
    <div *ngIf="emid.errors && (emid.dirty || emid.touched)" class="alert alert-danger">
      <p class="ermsg" [hidden]="!emid.errors.required">
        Let's know your Email please
      </p>
      <p class="ermsg" [hidden]="!emid.errors.pattern">
        Incorrect format
      </p>
      
    </div> 
    <!-- <mat-form-field>
      <input #rpsd="ngModel" [type]="'password'" minlength="6"  maxlength="16" matInput placeholder="Password" [(ngModel)]='upswd' name="upswd" required>
    </mat-form-field> -->
    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input #rpsd="ngModel" [type]="'password'" minlength="6"  maxlength="16" matInput placeholder="Password" [(ngModel)]='upswd' name="upswd" required></ion-input>
      </ion-item>
   
    <div *ngIf="rpsd.errors && (rpsd.dirty || rpsd.touched)" class="alert alert-danger">
      <p class="ermsg mrdow" [hidden]="!rpsd.errors.required">
        Passowrd Must!
      </p>
      <p class="ermsg mrdow" [hidden]="!rpsd.errors.minlength">
        Password should be 6 characters.
      </p>
      
    </div> 
  
    <a   class="subbtn" >
   <!-- <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip [ngClass]="{'disables': rgForm.form.invalid,'enabled' : rgForm.form.valid }" (click)="isUserRegisterSubmitted()"  selected="true">
      Submit
    </mat-chip>
  </mat-chip-list>  -->
  <button>Submit</button>
  
  
    </a>
    
  
    <a routerLink="/">Already have account?</a>
  
    </form>
    
    <div id="otpopen" class="otpsec cmpg">
  
      <h2>Account Verification</h2>
      <p>Please check your registered email to the OTP</p>
        <form validate #otpForm="ngForm" class="logfld rgst">
      <!-- <mat-form-field>
      <input #otp="ngModel" matInput placeholder="Enter OTP Here..." [(ngModel)]='rotp' name="rotp" required>
    </mat-form-field> -->
    <ion-item>
        <ion-label floating>Enter OTP Here...</ion-label>
        <ion-input #otp="ngModel" [(ngModel)]='rotp' name="rotp" required></ion-input>
      </ion-item>
  
    <div *ngIf="otp.errors && (otp.dirty || otp.touched)" class="alert alert-danger">
      <p class="ermsg mrdow" [hidden]="!otp.errors.required">
        Passowrd Must!
      </p>
     
      
    </div> 
   
    <a   class="subbtn" >
   <!-- <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip [ngClass]="{'disables': otpForm.form.invalid,'enabled' : otpForm.form.valid }" (click)="isOTPVerified()"  selected="true">
      Submit
    </mat-chip>
  </mat-chip-list>  -->
  <button>Submit</button>
  
    </a>
    
  
    <a routerLink="/">Already have account?</a>
  
  </form>
  <div class="hr"></div>
    <div class="rsotp">
        <form validate #otpagForm="ngForm" class="logfld rgst">
      <p>If your not received OTP.<span>Please Enter your registered Email id</span></p>
       <!-- <mat-form-field>
      <input #mid="ngModel" matInput placeholder="Registered Mail Id " [(ngModel)]='rmid' name="rmid" required>
    </mat-form-field> -->
    <ion-item>
        <ion-label floating>Enter OTP Here...</ion-label>
        <ion-input #mid="ngModel" matInput placeholder="Registered Mail Id " [(ngModel)]='rmid' name="rmid" required></ion-input>
      </ion-item>
    <div *ngIf="mid.errors && (mid.dirty || mid.touched)" class="alert alert-danger">
        <p class="ermsg mrdow" [hidden]="!mid.errors.required">
          Either user id or  Emamil id Must!
        </p>
       
        
      </div> 
  
  
      <a   class="subbtn" >
   <!-- <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip [ngClass]="{'disables': otpagForm.form.invalid,'enabled' : otpagForm.form.valid }" (click)="reGenerateOTP()"  selected="true">
      Generate OTP
    </mat-chip>
  </mat-chip-list>  -->
  <button>Generate OTP</button>
  
  
    </a>
    <p *ngIf="resnt">Check your Email, We have re-sent the OTP.</p>
  </form>
    </div>
   
  
    </div>
  
  
  
    
    <div id="otpst" class="otpsec cmpg">
      <p>Your Email Verification Done.</p>
      <a href="/">Continue</a>
    </div>
  </div>
  

</ion-content>
