page-register {
    ion-content{
        background-image: linear-gradient(130deg, #0b3954 13%, #3587a4 70%);
    }
    .item-md,
    .item-ios{background:transparent}
        .logsec{
            padding:50px 0 30px;
            img{width:150px;height:150px;display:block;margin:0 auto;}
        }
        .logfld{
            text-align:center;width:85%;margin:0 auto;position:relative;top:60px;
            a{
                 &:first-of-type{
                    margin-top:30px;
                 }
                 display:block;
                 color:$whitefc;
                 line-height:30px;
            }
            .subbtn{margin:0 0 20px!important;}
            .disables{pointer-events:none;background:rgba(255, 255, 255, 0.25);}
            .enabled{pointer-events:auto;}
        }
        .otpsec{
            *{
                color:$whitefc;
            }
            .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{color:#000;}
            .ermsg{color:$ermsg;}
            .mrdow{margin-bottom:20px; }
            p{margin:10px 0 0; }
            position:fixed;top:0;width:100%;transform: translateY(100%);transition: transform 0.5s;text-align:center;padding:30px 15px;
            .logfld{top:10px;}
            
            
        }
        .otpsec.open{transform: translateY(0%);}
        .hr{border:1px dotted $whitefc;margin-top:25px;}
}
