page-chat-box {
    ion-navbar img{width:40px;height:40px;}
    .hideHeader{z-index:-1;}
    .hd-mid{width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    ion-title .toolbar-title-md{font-size:16px;font-weight:400;}
    .udwrp{width:calc(100% - 50px)}
    ion-title{max-width:calc(100% - 50px)}
    ion-title,ion-avatar,.mre,.udwrp{display:inline-block;vertical-align:middle;}
    ion-avatar,.mre{width:50px;}
    .mre{
        font-size: 25px; 
        padding-left: 19px;
        a{ color: #fff; }
    }
    
    .chrwrp{
        .fl{float:left}
        .fr{float:right}
        .clr{content:"";display:block;clear:both;}
        /*padding:68px 0 0;*/
        .timestamp{
            width:100%;text-align:center;color:#000;background: #e0f1ff;
            padding:15px 0 0;
            p{margin:0;}
        }
        ul{
            margin:0;padding:0;
        }
        .chtlst{
            background:#e0f1ff;
            min-height: 100vh;
            padding:30px 25px 125px;  
            overflow-y: auto;
           

        }
        .fu,.fd{
            position: relative;
            background: #fff;
            border-radius: .4em;    
            padding:10px;width:75%;
            margin:0 0 10px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.08);
        }
        .fd{background:#3587a4;color:#fff;}
       
        .fu::after,.fd::after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-right-color: #fff;
            border-left: 0;
            border-top: 0;
            margin-top: -10px;
            margin-left: -17px;
        }
        
        .fd::after{
            margin-left: 98%;
            transform:rotate(-90deg);
            border-right-color:#3587a4;
        }  
    }
}
.msgbox{

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#fff;
    padding:5px 0 10px;
    z-index:1;
    border-top: 1px solid #cbdce8;
    box-shadow: 0 -2px 1px rgba(192, 212, 218, 0.4);
    ion-item,button{background:transparent}
    
    ion-item{
        width: 80%;
        display: inline-block;
        ::placeholder {color:#000!important;}
        ion-input{color:#000;}
        input{margin:0;}
    }
    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{border-color:#000!important;box-shadow:none!important;}
    button{
        width: 17px;
        display: inline-block;
        vertical-align: bottom;
        color:#0B3954;
        box-shadow:none;
        ion-icon{
            font-size:30px;
        }
    }
}
